<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" android:targetSandboxVersion="1" package="app.librivox.android" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:maxSdkVersion="18" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <application android:allowBackup="true" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:logo="@drawable/ic_lv" android:name="biz.bookdesign.librivox.LibriVoxFreeApp" android:roundIcon="@mipmap/ic_launcher_round" android:theme="@style/LVActionBarTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon" android:resource="@drawable/ic_lv"/>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="biz.bookdesign.librivox.support.CastOptionsProvider"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="@string/admob_app_id"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="@string/app_name" android:launchMode="singleTop" android:name="biz.bookdesign.librivox.LibriVoxActivity">
            <intent-filter>
                <action android:name="biz.bookdesign.librivox.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="biz.bookdesign.librivox.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:host="librivox.bookdesign.biz" android:pathPrefix="/book" android:scheme="http"/>
                <data android:host="librivox.bookdesign.biz" android:pathPrefix="/retail" android:scheme="http"/>
                <data android:host="librivox.app" android:pathPrefix="/book" android:scheme="https"/>
                <data android:host="librivox.app" android:pathPrefix="/retail" android:scheme="https"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="singleTop" android:name="biz.bookdesign.librivox.LibriVoxDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.LibriVoxActivity"/>
            <meta-data android:name="android.app.default_searchable" android:value="biz.bookdesign.librivox.LibriVoxDetailsActivity"/>
        </activity>
        <activity android:label="@string/book" android:name="biz.bookdesign.librivox.BookActivity">
            <intent-filter>
                <action android:name="biz.bookdesign.librivox.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.LibriVoxActivity"/>
            <meta-data android:name="android.app.default_searchable" android:value="biz.bookdesign.librivox.LibriVoxActivity"/>
        </activity>
        <activity android:label="@string/book" android:launchMode="singleTask" android:name="biz.bookdesign.librivox.ListenActivity">
            <intent-filter>
                <action android:name="biz.bookdesign.librivox.LISTEN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.LibriVoxActivity"/>
        </activity>
        <activity android:label="@string/librivox_preferences" android:name="biz.bookdesign.librivox.SettingsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.LibriVoxActivity"/>
        </activity>
        <activity android:label="@string/bookmarks" android:name="biz.bookdesign.librivox.BookmarkActivity" android:theme="@style/LVDialogTheme">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.BookActivity"/>
        </activity>
        <activity android:label="@string/rate" android:name="biz.bookdesign.librivox.ReviewComposeActivity" android:theme="@style/LVDialogTheme" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.BookActivity"/>
        </activity>
        <activity android:label="@string/reviews" android:name="biz.bookdesign.librivox.ReviewViewActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="biz.bookdesign.librivox.BookActivity"/>
        </activity>
        <activity android:excludeFromRecents="true" android:label="@string/google_account" android:name="biz.bookdesign.librivox.GoogleAccountActivity" android:theme="@style/LVDialogTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <service android:exported="false" android:name="com.paypal.android.sdk.payments.PayPalService"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="io.card.payment.CardIOActivity"/>
        <activity android:name="io.card.payment.DataEntryActivity"/>
        <service android:label="@string/audio_service" android:name="biz.bookdesign.librivox.audio.LocalAudioService"/>
        <service android:label="@string/download_service" android:name="biz.bookdesign.librivox.client.DownloadService"/>
        <service android:exported="true" android:name="biz.bookdesign.librivox.LibriVoxMediaBrowserService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <receiver android:name="biz.bookdesign.librivox.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="app.librivox.android.BDSearchSuggestionProvider" android:name="app.librivox.android.BDSearchSuggestionProvider"/>
        <provider android:authorities="app.librivox.android.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.component.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="app.librivox.android.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="app.librivox.android.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity"/>
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity"/>
        <provider android:authorities="app.librivox.android.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <provider android:authorities="app.librivox.android.crashlyticsinitprovider" android:exported="false" android:initOrder="90" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>