/* Mobile */
body {
    margin: 10px;
}

.mobile {
    font-size: 1.3em;
    overflow: hidden;
}

.mobile__title {
    margin: 0.5em 0;
}

.mobile__date {
    color: #999;
    font-size: 0.7em;
    margin: 0.8em 0;
    display: block;
}

.mobile__footer-link {
    font-size: 0.8em;
    font-weight: bold;
    color: #1F1F1F;
}

.mobile__text {
    color: #1F1F1F;
    font-size: 0.9em;
}

.mobile__text a {
    color: #1F1F1F;
}

.mobile__text .rights {
    display: block;
    color: #999;
    font-size: 0.7em;
}

.mobile__text .details {
    display: block;
    color: #999;
    font-size: 0.7em;
}

.mobile__text img {
    max-width: 100%;
    border: none;
}

.image {

}

.image__holder {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.image__videolink {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 50%;
    margin-right: -20px;
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(bg_icon_video.png);
}

.image__itself {
    max-width: 100%;
    height: auto;
    display: block;
}

.image__title {
    color: #999;
    font-size: 0.7em;
    margin-top: 0.2em;
}

.image__copyright {
    font-size: 1em;
}